body  {
  background : url("https://pbs.twimg.com/profile_images/874845579540664321/kO9ZeDsm_400x400.jpg") ;
  background-size : 2% ;
}

.header_image {
  vertical-align: middle;
  display: inline-block;
}

.title {
  background : white;
  display: inline-block;
}